
$btn-font-size: 20px;

@mixin button($width) {
  button {
    min-width: 150px;
    width: $width;
    background-color: lighten($accent-color, 5%);
    border: none;
    padding: 5px 10px;
    font-size: $btn-font-size;
    color: white;
    border-radius: $br-small;
    box-shadow: $bs-small;
  }

  button:hover {
    background-color: $accent-color;
  }
}

.AlphaCalculator {
  width: 100%;
  height: 100%;
}

.AlphaCalculator {
  display: flex;
  justify-content: center;
}

.AlphaCalculatorForm {
  margin-top: 35vh;
}

.AlphaCalculatorInput {
  box-shadow: $bs-medium;
  border: none;
  width: 30vw;
  min-width: 200px;
  height: 35px;
  font-size: 18px;
  padding: 0 10px;
}

.AlphaCalculatorSubmit {
  margin-top: 30px;
  display: flex;
  justify-content: center;

  @include button(15vw);

  &.is-disabled {
    button {
      opacity: 0.5;
    }
  }
}

.AlphaCalculatorOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;


  &-content {
    margin-top: -10vh;
    padding: 10px;
    background-color: white;
    height: 20vw;
    width: 35vw;
    min-width: 360px;
    min-height: 200px;
    border-radius: $br-medium;
    box-shadow: $bs-medium;
    display: flex;
    flex-direction: column;

    @media (max-width: 425px) {
      min-width: 90%;
    }
  }

  &-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: $text-color;

    @media (max-width: 425px) {
      font-size: 26px;
    }
  }

  &-controls {
    @include button(100%);
  }
}